@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #1F1F1F;
}

.axis {
    display: flex;
    flex-direction: row;
}

.header {
    height: 110px ;
    width: 100%;
    background-color: #252525;
}

.header .brand{
    margin-top: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 480;
    font-size: 50px;
    margin-left: 200px ;
    color: white;
    width: 1000px;
}



.header {
    display: flex;
    flex-direction: row;
}
 
.sidebar {
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: #1F1F1F;
    position: fixed;
    border-right: 2px solid #4E4E4E;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo :hover{
    cursor: pointer;
}


.navigation  {
    margin-top: 45px;
}

.navigation li {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 19px 0;
}

.navigation li a {
    color: white;
    font-size: 38px;
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 9px;
    
}

.navigation li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

.options {
    margin-top: 160px;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;

}

.options li {
    text-align: center;
    padding: 19px 0;

}

.options li a{
    color: white;
    font-size: 38px;
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 9px;

}

.options li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    
}

.search-container {
    position: relative;
    width: 100%;
}

.header input[type="search"] {
    width: 250px;
    border: none;
    background-color: white;
    height: 30px;
    border-radius: 33px;
    padding: 10px 3px 10px 55px;
    margin-left: 400px;
    margin-top: 30px;
}

.search-icon {
    position: absolute;
    left: 420px; /* Adjust to position the icon */
    font-size: 18px;
    color: gray;
    padding-bottom: 19px;
    color: #3A9570;
    top: 32%;
    bottom: 80%;

}

.user {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 26px;
}

.username {
    font-size: 20px;
    margin-right: 18px;
    text-wrap: nowrap;
    font-weight: 600;
}

.usermail {
    font-size: 14px;
    font-weight: 300;
    padding-left: 55px;
}

.dp img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
}

.new-app {
    height: 365px;
    width: 800px;
    background-color:#252525;
    margin-left: 150px;
    margin-top: 30px;
}

.heading-new-app {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}

.heading-new-app .best-new {
    margin-left: 25px;
    color: white;
    font-size: 25px;
    font-weight: 550;
}

.heading-new-app .seeall{
    margin-right: 25px;
    font-weight: 300;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding-top: 2px;
}

.heading-new-app .seeall:hover {
    text-decoration: underline;
  
}

.apps {
    display: flex;
    flex-direction: column;
}

.text-app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 25px;
    cursor: pointer;
}

.text-app-icon {
    color: white;
    background-color: #F0B457;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 6px;
}

.text-app-icon:hover{
    background-color:  #f1c98d;
}

.text-app-icon:hover {
    cursor: pointer;
}

.text-app-name-icon {
    display: flex;
    gap: 15px;
}

#text-app-name {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px
}

#editapp{
    font-size: 18px;
    font-weight: 600;
    
}

#create  {
    font-size: 13px;
    color: grey;
    
}

.button-star {
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.Download {
    border: none;
    background-color: white;
    font-weight: 550;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 12px;
    width: 100px;
    cursor: pointer;
}

.Download:hover{
    background-color: black;
    color: white;
}


.starone, .startwo, .starthree, .starfour, .starfive {
    height: 12px;
    gap: 2px;
    color: white
}

.starone, .startwo, .starthree, .starfour {
    color: #F0B457;
}


.line {
    width: 690px;
    height: 1.5px;
    background-color: grey;
    margin-top: 15px;
    margin-left: 86px;
}


.music-app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 25px;
    cursor: pointer;
}

.music-app-name-icon{
    display: flex;
    gap: 15px;
}

.music-app-icon{
    color: white;
    background-color: #F14446;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 6px;
}

.music-app-icon:hover {
    background-color: #f06669 ;
}

#music-app-name{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px
}

.starfives {
    color: #F0B457;
    height: 12px;
    gap: 2px;
}

.browser-app{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 25px;
    cursor: pointer;
}

.browser-app-name-icon{
    display: flex;
    gap: 15px;
}

.browser-app-icon{
    color: white;
    background-color: #37B6FF;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 6px;
}

.browser-app-icon:hover{
    background-color: #66c2f7;
}

#browser-app-name{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px
}


.Top-free-app {
    height: 290px;
    width: 800px;
    background-color:#252525;
    margin-left: 150px;
    margin-top: 30px;
}

.Top-free-app h3 {
    margin-left: 25px;
    color: white;
    font-size: 25px;
    font-weight: 550;
    margin-top: 30px;

}

.top-see {
    display: flex;
    justify-content: space-between;
}

.top-see span {
    margin-right: 25px;
    margin-top: 30px;
    color: white;
    font-weight: 250;
}

.top-see span:hover {
    text-decoration: underline;
    cursor: pointer;

}

.top-apps {
    display: flex;
    justify-content: space-around;
}

.calender span {
    color: white;
    margin-left: 23px;
    margin-top: 10px;
    font-weight: 500;
}

.calender {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 140px;
    margin-left: 25px;
    margin-top: 40px;
    cursor: pointer;
}

#calender {
    background-color: #079551;
    color: white;
    height: 80px;
    width: 80px;
    padding: 20px;
    border-radius: 10px;
}

#calender:hover{
    background-color: #3A9570;
    color: black;
}

.clock span {
    color: white;
    margin-left: 37px;
    margin-top: 10px;
    font-weight: 500;
}

.clock {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 140px;
    margin-left: 25px;
    margin-top: 40px;
    cursor: pointer;
}

#clock {
    background-color: #F0B457;
    color: white;
    height: 80px;
    width: 80px;
    padding: 20px;
    border-radius: 10px;
}

#clock:hover{
    background-color: #f1c98d;
    color: black;
}

.gallery span {
    color: white;
    margin-left: 33px;
    margin-top: 10px;
    font-weight: 500;
}

.gallery {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 140px;
    margin-left: 25px;
    margin-top: 40px;
    cursor: pointer;
}

#gallery {
    background-color: #F14446;
    color: white;
    height: 80px;
    width: 80px;
    padding: 20px;
    border-radius: 10px;
}

#gallery:hover{
    background-color: #f06669;
    color: black;
}

.weather span {
    color: white;
    margin-left:28px;
    margin-top: 10px;
    font-weight: 500;
}

.weather {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 140px;
    margin-left: 25px;
    margin-top: 40px;
    cursor: pointer;
}

#weather {
    background-color: #37B6FF;
    color: white;
    height: 80px;
    width: 80px;
    padding: 20px;
    border-radius: 10px;
}

#weather:hover{
    background-color: #66c2f7;
    color: black;
}

#be-creative{
    height: 685px;
    width: 700px;
    background-color: #252525;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    flex-direction: column;
}

.y-axis {
    display: flex;
}

.creative-heading {
    display: flex;
    gap: 440px;
    margin-top: 17px;
}

.creative-heading h3{
    color: white;
    font-size: 25px;
    text-wrap: nowrap;
    margin-left: 25px;
    font-weight: 550;
}

.creative-heading span{
    color: white;
    margin-top: 5px;
}
.creative-heading span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.photo {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.photo img{
    width: 639px;
    height: 230px;
}

.Editing {
    margin-top: 20px ;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.edit-text{
    display: flex;
    flex-direction: column;
}

.edit-text span{
    color: white;
    text-wrap: nowrap;
}

#tsfm {
    font-size: 20px;
    font-weight: 600;
}

#cagv {
    font-size: 13px;
    margin-top: 3px;
    color: grey;
}

.name-button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 232px;
    margin-top: 15px;
}

.download-star {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download-star span {
    display: flex;
    margin-top: 5px;
    margin-left: 11px;
}

#cgv {
    font-size: 20px;
    font-weight: 600;
}

#mow {
    font-size: 13px;
    margin-top: 3px;
    color: grey;
}

.id-button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 327px;
    margin-top: 15px;
}

.video {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.video img{
    width: 639px;
    height: 230px;
}